.feed
  each item in feed
    .card
      span.display-topright.padding.close X
      if item.title !== undefined
        p.author
          b #{item.title[0]}
      if item.enclosure !== undefined
        p.media
          img(src=item.enclosure[0]['$']['url'])
      if item.description !== undefined
        p.description !{item.description[0]}
      if item.pubDate !== undefined
        p.date #{new Date(item.pubDate[0]).toLocaleString('en-us', dateFormatOptions)}