extends layout

block content
  .bar.large.theme-d4
    span.bar-item FEED ME
  .container.content
    form.query-form
      input#query.query(type='text', value='realDonaldTrump')
      #loader
    .feed
