doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Feed Me
    meta(name='description', content='RSS ')
    meta(name='author', content='RoadTripNation')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.theme-l4
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")

